body {
    font-family: Arial, sans-serif;
    margin: 20px;
    padding: 20px;
    background-color: #6a8780;
    color: #333;
    align-items: center;
    justify-content: center;
}
form {
    align-items: center;
    width: 400px;
    max-width: 500px;
    max-height: 800px;
    margin: auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 7px;
    background-color: #fff;
    font-size: 1.2em;
}
.gender {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1em;
    margin: 10px 0;
    width: 100%;
}

.gender label {
    margin-right: 8px;
    font-size: 1em;
}

.gender input {
    margin-right: 5px;
}

input {
    width: 95%;
    padding: 15px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1em;
}

button {
    width: 101%;
    padding: 12px;
    background-color: #0a7268;
    color: white;
    border: none;
    border-radius: 7px;
    cursor: pointer;
    font-size: 1.1em;
}

button:hover {
    background-color: #0a6158;
}
h1{
    text-align: center;
    font-size: 3em;
    color: #000;
}
h2{
    text-align: center;
    /* font-size: 2em; */
    color: #000;
}

.input-container {
    display: flex;
    align-items: center;
    margin: 10px 0;
    position: relative;
}

.input-container i {
    position: absolute;
    left: 15px;
    color: #333;
    font-size: 1.1em;
}

.input-container input {
    width: 100%;
    padding: 15px 15px 15px 40px;
    margin: 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1em;
}
